@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');

body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    flex-direction: column;
}

h1{
    margin: -17px 0;

}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #222222;
}

a:hover{
    color: #840ec9;
    transition: 0.3s all;
}

#btn-inscre{
    border: 2px solid #840ec9;
    padding: 10px;
    border-radius: 15px;
}

#btn-inscre:hover{
    background-color: #840ec9;
    color: aliceblue;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px
}

span{
    color: #840ec9;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
}
form [type="submit"]:hover{
    cursor: pointer;
    border: 1px solid transparent;
}

img{
    width: 580px;
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    border: 1px solid black;
}
